<link href="css/sb-admin-2.min.css" rel="stylesheet">
 <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {{> admin_sidebar}}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content mt-5">

                <!-- Topbar -->
                {{> admin_navbar}}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        {{> admin/nav/user}}
                        {{> admin/nav/role}}
                        {{> admin/nav/product}}
                        {{> admin/nav/category}}
                        {{> admin/nav/order}}
                    </div>
                    
                    <!-- Content Row -->
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <!-- Approach -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Jy Scurbs</h6>
                                </div>
                                <div class="card-body">
                                    <p>
                                        Welcome to the JY Scrubs e-commerce platform! This project is an online store for selling medical scrubs and providing medical consultation services (limited to Nigeria). The platform supports multi-currency pricing for scrubs, integrates with UPS for shipping, and offers customer support via email and phone.
                                    </p>
                                    <p class="mb-0">
                                        
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->


    <!-- Core plugin JavaScript-->

    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>