<div id="floating-cart" class="floating-cart" style="display: block;">
    <a href="" class="minicart-inner clearfix">
        <i class="fas fa-solid fa-cart-shopping text-light"></i>
        <span class="cart-details">
            <span class="minicart-items">0 Item</span>
        </span>
    </a>
</div>


<footer class="site-footer antiCls" id="site-footer" style="visibility: visible;">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="visible-xs extrapages-shower">
                            <a href="#extrapages" role="button" data-toggle="collapse" class="collapsed">Links</a>
                        </div>
                        <div id="FRAME_LINKS">
                            <ul id="extrapages" class="list-unstyled extrapages row" role="list">
                                <li class="label hidden">Links</li>

                                <li class="col-md-4 col-sm-6" role="listitem"><a href="blog.asp" target="_self"
                                        class="menu-bottom">Blog</a></li>
                                <li class="col-md-4 col-sm-6" role="listitem"><a href="Terms-and-Conditions_ep_2-1.html"
                                        target="_self" class="menu-bottom">Terms and Conditions</a></li>
                                <li class="col-md-4 col-sm-6" role="listitem"><a href="affiliateInfo.asp" target="_self"
                                        class="menu-bottom">Become an Affiliate</a></li>
                                <li class="col-md-4 col-sm-6" role="listitem"><a href="product_index.asp" target="_self"
                                        class="menu-bottom">Product Index</a></li>
                                <li class="col-md-4 col-sm-6" role="listitem"><a href="category_index.asp"
                                        target="_self" class="menu-bottom">Category Index</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">

                <ul class="social-icons list-unstyled list-inline d-flex">
                    <li class="social-icons-label hidden-xs"> Stay Connected</li>


                    <li>
                        <a href="#" class="facebook" target="_blank" title="Like Us on Facebook"
                            aria-label="Like Us on Facebook" role="button">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </li>



                    <li>
                        <a href="#" class="twitter" target="_blank" title="Follow Us on Twitter"
                            aria-label="Follow Us on Twitter" role="button">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>


                    <li>
                        <a href="#" class="youtube" target="_blank" title="Subscribe to our Channel"
                            aria-label="Subscribe to our Channel" role="button">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </li>


                    <li>
                        <a href="#" class="instagram" target="_blank" title="Follow Us on Instagram"
                            aria-label="Follow Us on Instagram" role="button">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>


                </ul>

                <div class="clearfix"></div>
                <ul class="payment-icons list-unstyled list-inline">
                </ul>
            </div>
            <div class="col-sm-12">

            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xs-12">
                    <div class="copyright_txt">
                        <p class="text-center">Copyright <span id="current-year">2024</span>
                            <script type="text/javascript"
                                language="javascript">document.getElementById("current-year").innerHTML = new Date().getFullYear();</script>
                            Gadget Gallery Store. All Rights Reserved. <a
                                href="https://www.pixtinfinity.com" target="_blank">by
                                Pixtinfinity</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>