<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <div class="container-fluid align-items-center text-align-center">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img src="/img/jy-logo.png" width="100" alt="jy logo">
                <h2>JY SCRUBS</h2>
            </a>
            <!-- Search Icon and Form -->
            <div class="nav-item dropdown position-relative d-block d-md-none">
                <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#searchModal" role="button">
                    <i class="fas fa-search"></i>
                </a>

            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Main Navigation Links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- Men Section for Small Screens (Collapsible) -->
                <div class="custom-accordion mt-4" id="nav-accordion">
                    <div class="accordion d-block d-md-none">
                        <!-- About Section -->
                        <div class="custom-card">
                            <div class="card-header" id="aboutNavHeader">
                                <h5 class="m-0">
                                    <button
                                        class="btn w-100 mr-0 mx-0 btn-link collapsed d-flex justify-content-between"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#aboutNavSection"
                                        aria-expanded="false" aria-controls="aboutNavSection">
                                        <span>About</span> <i class="fas fa-plus float-end"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="aboutNavSection" class="collapse" aria-labelledby="aboutNavHeader"
                                data-bs-parent="#nav-accordion">
                                <div class="card-body">
                                    <ul>
                                        <li><a href="#">Our Story</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Scrubs Section -->
                        <div class="custom-card">
                            <div class="card-header" id="scrubsHeader">
                                <h5 class="m-0">
                                    <button
                                        class="btn w-100 mr-0 mx-0 btn-link collapsed d-flex justify-content-between"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#scrubsSection"
                                        aria-expanded="false" aria-controls="scrubsSection">
                                        <span>Scrubs</span> <i class="fas fa-plus float-end"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="scrubsSection" class="collapse" aria-labelledby="scrubsHeader"
                                data-bs-parent="#nav-accordion">
                                <div class="card-body">
                                    
                                    <ul>
                                        {{#each globalEntities.scrubs}}
                                        <li><a href="/collection/scrub/{{this.slug}}">{{this.name}}</a></li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Colors Section -->
                        <div class="custom-card">
                            <div class="card-header" id="colorsHeader">
                                <h5 class="m-0">
                                    <button
                                        class="btn w-100 mr-0 mx-0 btn-link collapsed d-flex justify-content-between"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#colorsSection"
                                        aria-expanded="false" aria-controls="colorsSection">
                                        <span>Colors</span> <i class="fas fa-plus float-end"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="colorsSection" class="collapse" aria-labelledby="colorsHeader"
                                data-bs-parent="#nav-accordion">
                                <div class="card-body">
                                    <ul>
                                        <ul>
                                            {{#each globalEntities.colors}}
                                            <li><a href="/collection/color/{{this.slug}}">{{this.name}}</a></li>
                                            {{/each}}
                                        </ul>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Trending Section -->
                        <div class="custom-card">
                            <div class="card-header" id="trendingHeader">
                                <h5 class="m-0">
                                    <button
                                        class="btn w-100 mr-0 mx-0 btn-link collapsed d-flex justify-content-between"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#trendingSection"
                                        aria-expanded="false" aria-controls="trendingSection">
                                        <span>Trending</span> <i class="fas fa-plus float-end"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="trendingSection" class="collapse" aria-labelledby="trendingHeader"
                                data-bs-parent="#nav-accordion">
                                <div class="card-body">
                                    <ul>
                                        {{#each globalEntities.collections}}
                                        <li><a href="/collection/collection/{{this.slug}}">{{this.name}}</a></li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Size Section -->
                        <div class="custom-card">
                            <div class="card-header" id="sizesHeader">
                                <h5 class="m-0">
                                    <button
                                        class="btn w-100 mr-0 mx-0 btn-link collapsed d-flex justify-content-between"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#sizesSection"
                                        aria-expanded="false" aria-controls="sizesSection">
                                        <span>Sizes</span> <i class="fas fa-plus float-end"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="sizesSection" class="collapse" aria-labelledby="sizesHeader"
                                data-bs-parent="#nav-accordion">
                                <div class="card-body">
                                    
                                    <ul>
                                        {{#each globalEntities.sizes}}
                                        <li><a href="/collection/size/{{this.slug}}">{{this.name}}</a></li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="custom-card">
                            <div class="card-header">
                                <h5 class="m-0">
                                    <a class="btn w-100 mr-0 mx-0 btn-link collapsed d-flex justify-content-between"
                                        href="/product">
                                        Products
                                    </a>
                                </h5>
                            </div>
                        </div>

                        
                    </div>
                </div>



                <ul class="navbar-nav dropdown d-none d-md-flex text-start">
                    <!-- Men Trigger and Full-Screen Dropdown -->
                    <li class="nav-item men-trigger">
                        <a class="nav-link" href="#">Men</a>
                        <!-- Full-Screen Dropdown (Styled as Modal) -->
                        <div class="men-dropdown full-screen-dropdown">
                            <div class="container">
                                <div class="row text-start py-4">
                                    <h4 class="fw-bold text-center mb-4">MEN</h4>
                                    
                                    <div class="col-12 my-5">
                                        <div>
                                            <h4 class="text-decoration-underline fw-bold">COLORS</h4>
                                        </div>
                                        <div class="row mb-4">
                                            {{#each globalEntities.colors}}                                        
                                            <div class="col-2">
                                                <img src="{{this.image_url}}" alt="{{this.name}}" class="img-fluid" width="100">

                                                <a href="/collection/color/{{this.slug}}" class="text-capitalize dropdown-item">{{this.name}}</a>
                                            </div>
                                            {{/each}}                                            
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <h4 class="text-decoration-underline fw-bold">SCRUBS</h4>

                                        {{#each globalEntities.scrubs}}
                                        <a href="/collection/scrub/{{this.slug}}" class="text-capitalize dropdown-item">{{this.name}}</a>
                                        {{/each}}
                                    </div>

                                    <div class="col-md-4">
                                        <div>
                                            <h4 class="text-decoration-underline fw-bold">COLLECTIONS</h4>
                                        </div>
                                        {{#each globalEntities.collections}}
                                        <a href="/collection/collection/{{this.slug}}" class="text-capitalize dropdown-item">{{this.name}}</a>
                                        {{/each}}
                                    </div>

                                    <div class="col-md-4">
                                        <div>
                                            <h4 class="text-decoration-underline fw-bold">SIZES</h4>
                                        </div>
                                        {{#each globalEntities.sizes}}
                                        <a href="/collection/size/{{this.slug}}" class="text-capitalize dropdown-item">{{this.name}}</a>
                                        {{/each}}
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- Women Trigger and Full-Screen Dropdown -->
                    <li class="nav-item women-trigger">
                        <a class="nav-link" href="#">Women</a>
                        <!-- Full-Screen Dropdown (Styled as Modal) -->
                        <div class="women-dropdown full-screen-dropdown">
                            <div class="container">
                                <div class="row text-start py-4">
                                    <h4 class="fw-bold text-center mb-4">WOMEN</h4>
                                    
                                    <div class="col-12 my-5">
                                        <div>
                                            <h4 class="text-decoration-underline fw-bold">COLORS</h4>
                                        </div>
                                        <div class="row mb-4">
                                            {{#each globalEntities.colors}}                                        
                                            <div class="col-2">
                                                <img src="{{this.image_url}}" alt="{{this.name}}" class="img-fluid" width="100">

                                                <a href="/collection/color/{{this.slug}}?category=women" class="text-capitalize dropdown-item">{{this.name}}</a>
                                            </div>
                                            {{/each}}                                            
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <h4 class="text-decoration-underline fw-bold">SCRUBS</h4>

                                        {{#each globalEntities.scrubs}}
                                        <a href="/collection/scrub/{{this.slug}}?category=women" class="text-capitalize dropdown-item">{{this.name}}</a>
                                        {{/each}}
                                    </div>

                                    <div class="col-md-4">
                                        <div>
                                            <h4 class="text-decoration-underline fw-bold">COLLECTIONS</h4>
                                        </div>
                                        {{#each globalEntities.collections}}
                                        <a href="/collection/collection/{{this.slug}}?category=women" class="text-capitalize dropdown-item">{{this.name}}</a>
                                        {{/each}}
                                    </div>

                                    <div class="col-md-4">
                                        <div>
                                            <h4 class="text-decoration-underline fw-bold">SIZES</h4>
                                        </div>
                                        {{#each globalEntities.sizes}}
                                        <a href="/collection/size/{{this.slug}}?category=women" class="text-capitalize dropdown-item">{{this.name}}</a>
                                        {{/each}}
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="/product">Accessories</a>
                    </li>
                </ul>




            </div>

            <!-- Search Icon and Form -->
            <div class="nav-item dropdown position-relative d-none d-md-block">
                <!-- Right Section: Search, Cart, and User Icons -->
                <ul class="navbar-nav ms-auto align-items-center">
                    <li class="nav-item me-3">
                        <a class="nav-link" href="#">
                            <i class="fas fa-user"></i>
                        </a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link" href="/checkout">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </li>

                    <!-- Search Button Trigger -->
                    <!-- Search Button Trigger -->
                    <li>
                        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#searchModal" role="button">
                            <i class="fas fa-search"></i>
                        </a>
                    </li>

                </ul>

            </div>

        </div>
    </nav>
</header>