<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <div class="container-fluid align-items-center text-align-center">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="/img/jy-logo.png" width="100" alt="jy logo">
                <h2>JY SCRUBS</h2>
            </a>
            <!-- Search Icon and Form -->
            <div class="nav-item dropdown position-relative d-block d-md-none">
                <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#searchModal" role="button">
                    <i class="fas fa-search"></i>
                </a>

            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Main Navigation Links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- Men Section for Small Screens (Collapsible) -->
                <div class="custom-accordion mt-4">
                    <div class="accordion d-block d-md-none">
                        <!-- About Section -->
                        <div class="custom-card">
                            <div class="card-header" id="aboutNavHeader">
                                <h5 class="m-0">
                                    <button
                                        class="btn w-100 mr-0 mx-0 btn-link collapsed d-flex justify-content-between"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#aboutNavSection"
                                        aria-expanded="false" aria-controls="aboutNavSection">
                                        <span>About</span> <i class="fas fa-plus float-end"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="aboutNavSection" class="collapse" aria-labelledby="aboutNavHeader"
                                data-bs-parent="#footerAccordion">
                                <div class="card-body">
                                    <ul>
                                        <li><a href="#">Our Story</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Scrubs Section -->
                        <div class="custom-card">
                            <div class="card-header" id="scrubsHeader">
                                <h5 class="m-0">
                                    <button
                                        class="btn w-100 mr-0 mx-0 btn-link collapsed d-flex justify-content-between"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#scrubsSection"
                                        aria-expanded="false" aria-controls="scrubsSection">
                                        <span>Scrubs</span> <i class="fas fa-plus float-end"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="scrubsSection" class="collapse" aria-labelledby="scrubsHeader"
                                data-bs-parent="#footerAccordion">
                                <div class="card-body">
                                    <ul>
                                        <li><a href="#">Scrub Tops</a></li>
                                        <li><a href="#">Scrub Pants</a></li>
                                        <li><a href="#">Scrub Sets</a></li>
                                        <li><a href="#">Scrub Set Builder</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Colors Section -->
                        <div class="custom-card">
                            <div class="card-header" id="colorsHeader">
                                <h5 class="m-0">
                                    <button
                                        class="btn w-100 mr-0 mx-0 btn-link collapsed d-flex justify-content-between"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#colorsSection"
                                        aria-expanded="false" aria-controls="colorsSection">
                                        <span>Colors</span> <i class="fas fa-plus float-end"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="colorsSection" class="collapse" aria-labelledby="colorsHeader"
                                data-bs-parent="#footerAccordion">
                                <div class="card-body">
                                    <ul>
                                        <li><a href="#">Navy Blue</a></li>
                                        <li><a href="#">Black</a></li>
                                        <li><a href="#">Ceil Blue</a></li>
                                        <li><a href="#">Wine</a></li>
                                        <li><a href="#">Green</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Trending Section -->
                        <div class="custom-card">
                            <div class="card-header" id="trendingHeader">
                                <h5 class="m-0">
                                    <button
                                        class="btn w-100 mr-0 mx-0 btn-link collapsed d-flex justify-content-between"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#trendingSection"
                                        aria-expanded="false" aria-controls="trendingSection">
                                        <span>Trending</span> <i class="fas fa-plus float-end"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="trendingSection" class="collapse" aria-labelledby="trendingHeader"
                                data-bs-parent="#footerAccordion">
                                <div class="card-body">
                                    <ul>
                                        <li><a href="#">Best Sellers</a></li>
                                        <li><a href="#">New Arrivals</a></li>
                                        <li><a href="#">Limited Editions</a></li>
                                        <li><a href="#">Staff Favorites</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="custom-card">
                            <div class="card-header">
                                <h5 class="m-0">
                                    <a class="btn w-100 mr-0 mx-0 btn-link collapsed d-flex justify-content-between"
                                        href="">
                                        Assets
                                    </a>
                                </h5>
                            </div>
                        </div>

                        <div class="custom-card">
                            <div class="card-header">
                                <h5 class="m-0">
                                    <a class="btn w-100 mr-0 mx-0 btn-link collapsed d-flex justify-content-between"
                                        href="">
                                        Shop
                                    </a>
                                </h5>
                            </div>
                        </div>

                        <div class="custom-card">
                            <div class="card-header">
                                <h5 class="m-0">
                                    <a class="btn w-100 mr-0 mx-0 btn-link collapsed d-flex justify-content-between"
                                        href="">
                                        Trending
                                    </a>
                                </h5>
                            </div>
                        </div>


                    </div>
                </div>
                <ul class="navbar-nav dropdown d-none d-md-flex text-start">
                    <!-- Men Trigger and Full-Screen Dropdown -->
                    <li class="nav-item men-trigger">
                        <a class="nav-link" href="#">Men</a>
                        <!-- Full-Screen Dropdown (Styled as Modal) -->
                        <div class="men-dropdown full-screen-dropdown">
                            <div class="container-fluid">
                                <div class="row text-center py-4">
                                    <div class="col-md-3">
                                        <a href="#" class="dropdown-item">Tops</a>
                                        <a href="#" class="dropdown-item">Pants</a>
                                        <a href="#" class="dropdown-item">Scrubs</a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="dropdown-item">Jackets</a>
                                        <a href="#" class="dropdown-item">Shoes</a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="dropdown-item">Accessories</a>
                                        <a href="#" class="dropdown-item">Hats</a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="dropdown-item">Sale</a>
                                        <a href="#" class="dropdown-item">New Arrivals</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- Women Trigger and Full-Screen Dropdown -->
                    <li class="nav-item women-trigger">
                        <a class="nav-link" href="#">Women</a>
                        <!-- Full-Screen Dropdown (Styled as Modal) -->
                        <div class="women-dropdown full-screen-dropdown">
                            <div class="container-fluid">
                                <div class="row text-center py-4">
                                    <div class="col-md-3">
                                        <a href="#" class="dropdown-item">Tops</a>
                                        <a href="#" class="dropdown-item">Pants</a>
                                        <a href="#" class="dropdown-item">Scrubs</a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="dropdown-item">Jackets</a>
                                        <a href="#" class="dropdown-item">Shoes</a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="dropdown-item">Accessories</a>
                                        <a href="#" class="dropdown-item">Hats</a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="dropdown-item">Sale</a>
                                        <a href="#" class="dropdown-item">New Arrivals</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="#">Accessories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Consultations</a>
                    </li>
                </ul>




            </div>

            <!-- Search Icon and Form -->
            <div class="nav-item dropdown position-relative d-none d-md-block">
                <!-- Right Section: Search, Cart, and User Icons -->
                <ul class="navbar-nav ms-auto align-items-center">
                    <li class="nav-item me-3">
                        <a class="nav-link" href="#">
                            <i class="fas fa-user"></i>
                        </a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link" href="/checkout">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </li>

                    <!-- Search Button Trigger -->
                    <!-- Search Button Trigger -->
                    <li>
                        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#searchModal" role="button">
                            <i class="fas fa-search"></i>
                        </a>
                    </li>

                </ul>

            </div>

        </div>
    </nav>
</header>