<section class="navbar-expand-md flex-md-nowrap p-0">
    <nav class="navbar m-0 p-0 navbar-light sticky-top align-items-center">

        <div id="sidebarMenu" class="collapse navbar-collapse pt-2">
            <div class="container d-flex justify-content-between align-items-center" style="width: 100%;">
                <ul class="navbar-nav mb-2 mb-lg-0">
    
                    <li class="nav-item mb-1">
                        <a class="navbar-brand text-light fs-6 ms-3 underline" href="#">Home</a>
                    </li>

                    <li class="nav-item mb-1">
                        <a class="navbar-brand text-light fs-6 ms-3 underline" href="#">Product</a>
                    </li>

                    <li class="nav-item mb-1">
                        <a class="navbar-brand text-light fs-6 ms-3 underline" href="#">Category</a>
                    </li>

                    <li class="nav-item mb-1">
                        <a class="navbar-brand text-light fs-6 ms-3 underline" href="#">Featured</a>
                    </li>
                </ul>

                <ul class="navbar-nav mb-2 mb-lg-0">
    
                    <li class="nav-item mb-1">
                        <a class="navbar-brand text-light fs-6 ms-3 underline" href="#"><i class="fas fa-solid fa-user text-light"></i> Login</a>
                    </li>

                    <li class="nav-item mb-1">
                        <a class="navbar-brand text-light fs-6 ms-3 underline" href="#">Cart <i class="fas fa-solid fa-cart-shopping text-light"></i></a>
                    </li>
                </ul>
            </div>
        </div>                   
        
    </nav>

    <nav id="nav-title" class="navbar navbar-light mx-auto py-3">
        <div class="container">

            <a class="navbar-brand fs-4 fw-bold" href="#" style="color:var(--main-blue);">JY Scrubs</a>

            <form id="form-search" class="d-none d-md-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100  navbar-search">
                <div class="input-group">
                    <input type="text" class="form-control bg-light small" placeholder="Search for..."
                        aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn border bg-light rounded-0" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>

            <button id="sidebarToggleTop" type="button" data-bs-toggle="modal" data-bs-target="#nav-menu" class="btn border rounded-0 p-2 mx-right d-md-none mr-3 d-md-none collapsed fw-bold fs-6">
                <i class="fa fa-bars"> MENU</i>
            </button>
        </div>
       
    </nav>

    <section id="caTnaV" class="categoriesNav navbar-wrapper hidden-xs" style="">
        
        <div class="container">
            <nav id="categories-outer" class="categories navbar-collapse collapse justify-content-center">
    
    
    
                <ul id="categories" class="nav navbar-nav">
                    <li class="">
                        <a href="Gaming_c_19.html">Gaming</a>
    
                    </li>
                    <li class="">
                        <a href="PCs_c_12.html">PCs</a>
    
                    </li>
                    <li class="">
                        <a href="Laptops_c_11.html">Laptops</a>
    
                    </li>
                    <li class="">
                        <a href="Hardware_c_13.html">Hardware</a>
    
                    </li>
                    <li class="">
                        <a href="Software_c_14.html">Software</a>
    
                    </li>
                    <li class="">
                        <a href="Networking_c_15.html">Networking</a>
    
                    </li>
                    <li class="">
                        <a href="Audio_c_16.html">Audio</a>
    
                    </li>
                    <li class="">
                        <a href="Video_c_17.html">Video</a>
    
                    </li>
                    <li class="">
                        <a href="Printers_c_18.html">Printers</a>
    
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <!--
    <section class="py-4 text-center navbar mt-0" id="sectionHeader">
        <div class="container">
            <div class="row py-md-3 ">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-bold">CONNECT AND EARN</h1>
                <p>
                    We are online/Network Marketing Community build to provide people with opportunity
                </p>
            </div>
            </div>
        </div>
    </section>-->

    <div class="container-fluid mt-0 p-0" style="border-bottom: 10px solid var(--main-blue);">
        <img src="img/h1.jpg" alt="" width="100%" style="object-fit: fill;">
    </div>
            
</section>