<section class="checkout-page py-5 mt-5">
    <div class="container">
        <h2>Your Cart</h2>

        <!-- Product Table -->
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Product Title</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Color</th>
                        <th scope="col">Size</th>
                    </tr>
                </thead>
                <tbody id="productTableBody">
                    {{#each products}}
                    <tr class="product-row">
                        <!-- Product Image -->
                        <td>
                            {{#each this.images}}
                            {{#if @first}}
                            <img src="{{this.url}}" alt="{{../name}}" style="width: 100px; height: auto;" />
                            {{/if}}
                            {{/each}}
                        </td>
                        <!-- Product Title -->
                        <td>
                            <h5>{{this.name}}</h5>
                        </td>
                        <!-- Product Price -->
                        <td class="product-price" data-price="{{this.price}}">₦{{this.price}}</td>
                        <!-- Quantity -->
                        <td class="product-quantity" data-quantity="{{this.quantity}}">{{this.quantity}}</td>
                        <!-- Color -->
                        <td>
                            <div class="color-box rounded-circle" style="background-color: {{this.selectedColor.hex_code}}; width: 30px; height: 30px;"></div>
                        </td>
                        <!-- Size -->
                        <td>{{this.selectedSize.name}}</td>
                    </tr>
                    {{/each}}
                </tbody>
                <!-- Total Row -->
                <tfoot>                
                    <tr>
                        <td colspan="1">
                            <div class="form-group mt-3">
                                <label for="currency">Choose your currency:</label>
                                <select class="form-control" id="currency" disabled>
                                    <option value="NGN" selected>NGN</option>
                                    <option value="USD">USD</option>
                                </select>
                            </div>
                        </td>
                        <td colspan="1" class="text-end fw-bold">Total Quantity:</td>
                        <td id="totalQuantity">0</td>
                        <td colspan="1" class="text-end fw-bold">Total Price:</td>
                        <td id="totalPrice">NGN0.00</td>
                    </tr>
                </tfoot>
            </table>
        </div>


        <button style="transition: .5s display ease-out;" id="finalizeCheckout" class="btn btn-dark mt-4">Finalize Checkout</button>
    </div>

    <!-- Payment Modal -->
    <div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Complete Payment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="paymentForm">
                        <!-- First Name -->
                        <div class="mb-3">
                            <label for="firstName" class="form-label">First Name</label>
                            <input type="text" id="firstName" class="form-control" required />
                        </div>
    
                        <!-- Last Name -->
                        <div class="mb-3">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input type="text" id="lastName" class="form-control" required />
                        </div>
    
                        <!-- Email -->
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" id="email" class="form-control" required />
                        </div>
    
                        <!-- Phone -->
                        <div class="mb-3">
                            <label for="phone" class="form-label">Phone</label>
                            <input type="text" id="phone" class="form-control" required />
                        </div>
    
                        <!-- Delivery Option -->
                        <div class="mb-3 form-check">
                            <input
                                type="checkbox"
                                class="form-check-input"
                                id="deliveryOption"
                                onchange="toggleAddressField()"
                            />
                            <label for="deliveryOption" class="form-check-label">
                                I want this delivered
                            </label>
                        </div>
    
                        <!-- Shipping Address -->
                        <div id="addressField" class="mb-3" style="display: none;">
                            <label for="address" class="form-label">Shipping Address</label>
                            <textarea
                                id="address"
                                class="form-control mb-3"
                                rows="2"
                                placeholder="Enter your shipping address"
                            ></textarea>

                            <div class="row">
                                <div class="col-md-4 form-group mb-3">
                                    <label for="country_id1" class="form-label">Country</label>
                                    <select name="p_country" element-id="country" dependent-state-id="state_id1" dependent-city-id="city_id1" id="country_id1" class="countrystatecity form-control">
                                        <option value="">select</option>
                                    </select>
                                </div>
                                <div class="col-md-4 form-group mb-3">
                                    <label class="form-label" for="state_id1">State</label>
                                    <select name="p_state" element-id="state" dependent-city-id="city_id1" id="state_id1" id="state_id1" class="countrystatecity form-control">
                                        <option value="">select</option>
                                    </select>
                                </div>
                                <div class="col-md-4 form-group mb-3">
                                    <label class="form-label" for="countrystatecity">City</label>
                                    <select name="p_city" element-id="city" id="city_id1" class="countrystatecity form-control">
                                        <option value="">select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
    
                        <!-- Pay Now Button -->
                        <button type="button" id="payNow" class="btn btn-success w-100">
                            Pay Now
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    

</section>
<script type="text/javascript" src="js/countrystatecity.js"></script>
<script src="https://js.paystack.co/v1/inline.js"></script>
<script>
    $(document).ready(function(){
		$('.countrystatecity').countrystatecity();
	});
    
    function toggleAddressField() {
        const deliveryOption = document.getElementById('deliveryOption');
        const addressField = document.getElementById('addressField');
    
        if (deliveryOption.checked) {
            addressField.style.display = 'block';
        } else {
            addressField.style.display = 'none';
        }
    };

</script>
<script type="module">
    import { messageAlert } from "/js/utils.js"
    
    let totalQuantity = 0;
    let totalPrice = 0.0;

    const modalElement = document.getElementById('paymentModal');

    
    // Calculate total quantity and total price
    document.addEventListener('DOMContentLoaded', function () {
        const productRows = document.querySelectorAll('.product-row');

        productRows.forEach(row => {
            const price = parseFloat(row.querySelector('.product-price').dataset.price);
            const quantity = parseInt(row.querySelector('.product-quantity').dataset.quantity);

            totalQuantity += quantity;
            totalPrice += price * quantity;
        });

        document.getElementById('totalQuantity').innerText = totalQuantity;
        document.getElementById('totalPrice').innerText = `₦${totalPrice.toFixed(2)}`; // Default NGN

        // Prepare base price for conversion
        const currencySelect = document.getElementById('currency');
        currencySelect.addEventListener('change', async () => {
            const selectedCurrency = currencySelect.value;

            try {
                const response = await fetch(`/checkout/api/convert-currency?toCurrency=${selectedCurrency}&amount=${totalPrice}`);
                const data = await response.json();
                if (data.success) {
                    const convertedPrice = data.rate.conversion_result;
                    console.log(convertedPrice)
                }
            } catch (error) {

                messageAlert(
                    title = "Error fetching exchange rate.",
                    message = `Detail: "${error.message || error}"`,
                    redirectTo =window.location.pathname,
                    classType = "text-error",
                    btnType = "btn-error",
                );
            }
        });

        // Finalize checkout
        document.getElementById('finalizeCheckout').addEventListener('click', () => {
            
            const modalInstance = new bootstrap.Modal(modalElement);
            modalInstance.show();
        });

        // Paystack payment handler
        document.getElementById('payNow').addEventListener('click', () => {
            const currency = currencySelect.value;
            const amount = parseFloat(document.getElementById('totalPrice').textContent.replace(/[^\d.-]/g, '')) * 100;

            const first_name = document.getElementById('firstName').value;
            const last_name= document.getElementById('lastName').value;
            const email = document.getElementById('email').value;
            const phone = document.getElementById('phone').value;
            const deliveryOption = document.getElementById('deliveryOption').checked;
            const address = deliveryOption ? document.getElementById('address').value : null;
            const country = deliveryOption ? $('#country_id1 option:selected').data('address_name') : null;
            const city = deliveryOption ? $('#city_id1 option:selected').data('address_name') : null;
            const state = deliveryOption ? $('#state_id1 option:selected').data('address_name') : null;


            const handler = PaystackPop.setup({
                key: 'pk_test_314202007cd3e2a3f03b9a4bce2a0415f6435a63', // Replace with your Paystack public key
                email,
                amount,
                first_name: first_name,
                last_name: last_name,                
                phone,                
                currency,
                metadata: {
                    first_name: first_name,
                    last_name: last_name,
                    address,
                    country, state, city                    
                },
                callback: function (response) {

                    //new bootstrap.Modal(document.getElementById('paymentModal')).hide();
                    const modalElement = document.getElementById('paymentModal');
                    const modalInstance = bootstrap.Modal.getInstance(modalElement);
                    modalInstance.hide();
                    // Verify the transaction on the server
                    
                    fetch(`/checkout/api/verify-payment?reference=${response.reference}`, {credentials:"include"})
                        .then((res) => res.json())
                        .then((data) => {
                            if (data.success) {
                                //alert('Payment successful!');
                                messageAlert(
                                    title = "Payment successful!",
                                    message = `Your purchase was successful! You can use the tracking ID to check the state of your product. \ntrackingId: "${data.trackingId}"`,
                                    redirectTo ='/',
                                    classType = "text-success",
                                    btnType = "btn-success",
                                );
                                // Optionally clear the cart or update the UI
                            } else {
                                messageAlert(
                                    title = "Payment verification failed",
                                    message = `Please contact support.`,
                                    redirectTo ='',
                                    classType = "text-danger",
                                    btnType = "btn-danger",
                                );
                            }
                        })
                        .catch((error) => {
                            
                            messageAlert(
                                title = "Error verifying payment.",
                                message = `Detail: "${error.message || error}"`,
                                redirectTo ='',
                                classType = "text-warning",
                                btnType = "btn-warning",
                            );
                            console.error(error);
                        });
                },
                onClose: function () {

                    messageAlert(
                        title = "Warning.",
                        message = `Payment process was canceled or not completed.`,
                        redirectTo ='/checkout',
                        classType = "text-warning",
                        btnType = "btn-warning",
                    );
                    
                },
                
            });
            handler.openIframe();
        });

        
    });
</script>

