<!-- Hero Banner -->
<section class="hero-banner position-relative ">
    <!-- Video Background -->
    {{#if (eq selectedCategory "women")}}
    <div class="video-container">

        <video autoplay muted loop playsinline class="bg-video">
            <source src="vid/women.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    {{/if}}

    {{#if (eq selectedCategory "men")}}
    <div class="video-container">

        <img class="bg-video" src="img/heading_men.webp" alt="Heading for Men" />

    </div>
    {{/if}}


    <!-- Content Overlay -->
    <div class="container position-relative text-white" style="z-index: 9999;">
        <div class="row align-items-center mb-3">
            <div class="col-md-6 mb-4">
                <h1 style="text-transform: capitalize;" class="display-4">{{selectedCategory}}'s Scrubs Collection</h1>
                <p>Explore our premium collection of scrubs designed for comfort and durability.</p>
                <a style="position: relative; z-index:999;" {{#if (eq selectedCategory "women")}} href="/collection/category/women" {{else}}href="/collection/category/men"{{/if}} class="btn btn-light rounded-0 px-3 btn-lg">Shop Now</a>
            </div>
        </div>
    </div>
</section>


<!-- Shop by Category Section -->
<section class="shop-category py-5">
    <div class="container">
        <h2 class="text-center text-md-start mb-4">Shop by Category</h2>
        <div class="row justify-content-center justify-content-sm-start">
            {{#each scrubs}}
            <div class="col-lg-2 col-md-3 col-sm-6 col-12 p-1 my-2">
                <div class="w-100 category-btn">
                    <a href="/collection/scrub/{{this.slug}}">{{this.name}}</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>

<!-- Shop by Color Section -->
<section class="shop-color py-5">
    <div class="container overflow-hidden">
        <div class="d-sm-flex justify-content-between align-items-center">
            <h2>Shop by Color</h2>
            <div class="my-2">
                <i id="prev-btn" class="fas bg-secondary rounded-5 p-2 fa-arrow-left"></i>
                <i id="next-btn" class="fas bg-secondary rounded-5 p-2 fa-arrow-right"></i>
            </div>
        </div>
        <div class="color-row d-flex text-start justify-content-start">
            {{#each colors}}
            <a href="/collection/color/{{this.slug}}" class="color-card">
                <img src="{{this.image_url}}" alt="{{this.name}}" class="img-fluid">
                <h5 class="mt-2 fs-6 fw-light text-dark">{{this.name}}</h5>
            </a>
            {{/each}}
        </div>
    </div>
</section>

<!-- Featured Items Section -->
<section class="featured-items py-5">
    <div class="container">
        <div class="row">
            {{#each collections}}
            <!-- Check if the collection has a product to display -->
            {{#if this.products.[0]}}
            <div class="col-md-6 mb-4">
                <div class="card position-relative">
                    <!-- Access the product's primary image -->
                    <img src="{{this.products.[0].images.[0].url}}" class="card-img" alt="{{this.products.[0].name}}">

                    <div class="card-overlay">
                        <!-- Display the collection name -->
                        <h5 class="card-title">{{this.name}}</h5>

                        <!-- You can also display the product name if needed -->
                        <p>{{this.products.[0].name}}</p>

                        <!-- Add a link to the product's page (assuming you have a route) -->
                        <a href="/product/{{this.products.[0].id}}" class="btn btn-light rounded-0 px-4">Shop Now</a>
                    </div>
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</section>


<!-- BEST SELLERS -->
<section class="py-5" {{#if (eq selectedCategory "men")}} style="color:var(--white); background-color:rgba(36, 36, 36, 0.88);" {{else}} style="color:var(--white); background-color:var(--pink);"{{/if}}>
    <div class="container my-4">
        <div class="row align-items-center justify-content-center">
            <!-- Text Section -->
            <div class="col-md-6 text-center mb-4 mb-md-0">
                <h2 class="text-center h1 fw-bold">BEST SELLERS</h2>
                <p class="fs-6">Your favorite styles in core colors, here all year round.</p>
                <div class="d-inline-flex justify-content-between">
                    <a class="mx-2 underline fw-bold" style="color:var(--white);" href="?category=women">SHOP WOMEN</a>
                    <a class="mx-2 underline fw-bold" style="color:var(--white);" href="?category=men">SHOP MEN</a>
                </div>
            </div>

            <!-- Image Section -->
            <div class="col-md-6">
                {{#each collections}}
                {{#if @first}}
                {{#each this.products}}
                {{#if @first}}
                <img class="img-fluid" src="{{this.images.[0].url}}" alt="{{this.name}}">
                {{/if}}
                {{/each}}

                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</section>

<!-- Core Collection Section -->
<section class="core-collection py-5">
    <div class="container overflow-hidden">
        <div class="d-sm-flex justify-content-between align-items-center">
            <h2>Core Collection</h2>
            <div class="my-2">
                <i id="prev-core-btn" class="fas bg-secondary rounded-5 p-2 fa-arrow-left"></i>
                <i id="next-core-btn" class="fas bg-secondary rounded-5 p-2 fa-arrow-right"></i>
            </div>
        </div>
        <div class="core-row d-flex">
            {{#each products}}
            <div class="core-item">
                <div class="core-img-wrapper position-relative">
                    <!-- Check if any image is marked as primary -->
                    {{#each this.images}}
                    {{#if this.is_primary}}
                    <img src="{{this.url}}" alt="{{this.alt_text}}" class="core-img img-fluid">
                    {{/if}}
                    {{/each}}

                    <!-- If no primary image, use the first image as default -->
                    {{#unless (anyImageIsPrimary this.images)}}
                    {{#each this.images}}
                    {{#if @first}}
                    <img src="{{this.url}}" alt="{{this.alt_text}}" class="core-img img-fluid">
                    {{/if}}
                    {{/each}}
                    {{/unless}}

                    <!-- Loop through images for hover, displaying those that are not primary -->
                    {{#each this.images}}
                    {{#unless this.is_primary}}
                    <img src="{{this.url}}" alt="{{this.alt_text}} Alt"
                        class="core-img-hover img-fluid position-absolute">
                    {{/unless}}
                    {{/each}}


                </div>
                <h5 class="mt-2 fs-6 fw-bold"><a href="/product/{{this.slug}}" style="color:var(--black)">{{this.name}}</a></h5>
                <p class="price fw-bold">${{this.price}}</p>
                <div class="colors d-flex align-items-center">
                    {{#each this.colors}}
                    <div class="color-box" style="background-color: {{this.hex_code}};"></div>
                    {{/each}}
                    <i class="fas fa-plus ms-2"></i>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
<!-- Guarantee, Shipping, Store Section -->
<section class="info-section py-5">
    <div class="container">
        <hr>

        <div class="row text-center mt-5">
            <!-- Column 1: 90-Day Guarantee -->
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <i class="fas fa-undo-alt fa-3x me-3"></i>
                <div>
                    <h5>90-Day Guarantee</h5>
                    <p>We believe in lasting quality. If our products aren’t meeting your standards, send them back
                        within 90 days and receive a full refund.</p>
                </div>
            </div>

            <!-- Column 2: Free Shipping -->
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <i class="fas fa-shipping-fast fa-3x me-3"></i>
                <div>
                    <h5>Free Shipping</h5>
                    <p>Enjoy free shipping on U.S. orders of $50 or more.</p>
                </div>
            </div>

            <!-- Column 3: Find a Store -->
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <i class="fas fa-map-marker-alt fa-3x me-3"></i>
                <div>
                    <h5>Find a Store</h5>
                    <p>Our products are located in 95+ stores across the U.S.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Reimagine Greatness Section -->
<section class="greatness-section">
    <div class="overlay">
        <div class="container row">
            <div class="col-sm-6">
                <h2>Through every obstacle in life, we discover our purpose and unlock that greatness we didn’t even
                    know was there.</h2>
                <h6>Reimagine Greatness</h6>
            </div>

        </div>
    </div>
</section>