<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta property="og:title" content="">
        <meta property="og:description" content="">
        <meta property="og:image" content="">
        <meta property="og:url" content="">
    
        <!--twitter social share-->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="" id="twitterTitle">
        <meta name="twitter:description" content="" id="twitterDescription">
        <meta name="twitter:image" content="" id="twitterImage">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <title> {{title}} </title>
    
        <link rel="icon" href="img/logo.png">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&amp;display=swap" rel="stylesheet"> 
    
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css" integrity="sha512-siarrzI1u3pCqFG2LEzi87McrBmq6Tp7juVsdmGY1Dr8Saw+ZBAzDzrGwX3vgxX1NkioYNCFOVC0GpDPss10zQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/solid.min.css" integrity="sha512-Hp+WwK4QdKZk9/W0ViDvLunYjFrGJmNDt6sCflZNkjgvNq9mY+0tMbd6tWMiAlcf1OQyqL4gn2rYp7UsfssZPA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/brands.min.css" integrity="sha512-W/zrbCncQnky/EzL+/AYwTtosvrM+YG/V6piQLSe2HuKS6cmbw89kjYkp3tWFn1dkWV7L1ruvJyKbLz73Vlgfg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    
    
        <link href="css/style.css" rel="stylesheet">
    
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
        
        <script>
            //global script
        </script>
    
    </head>
    <body>

        <!--============ROOT SECTION==============-->
        <section id="root" class="position-relative overflow-x-hidden">
            <!--=========HEADER BEGIN===========-->
           
            <!--=========HEADER END===========-->
            
            <!--=========MAIN BEGIN===========-->
            {{{body}}}
            <!--=========MAIN END===========-->

            <!--=========FOOTER BEGIN===========-->
            <div id="floating-cart" class="floating-cart" style="display: block;">
                <a href="" class="minicart-inner clearfix">
                    <i class="fas fa-solid fa-cart-shopping text-light"></i>
                    <span class="cart-details">
                        <span class="minicart-items">0 Item</span>
                    </span>
                </a>
            </div>
        
            <!--=========FOOTER END===========-->
        </section>
        <!--============ROOT SECTION END==============-->


        <!--============= MODAL SECTION ===========-->

        <div class="modal" id="nav-menu" tabindex="-1" aria-labelledby="nav-menu" aria-modal="true" role="dialog">
            <div class="modal-dialog modal-fullscreen" style="height:100vh; width:70vw; color:var(--white);">
                <div class="modal-content">
                    <div class="modal-header">
                        <form id="form-search" class="d-block d-md-none form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100  navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light small" placeholder="Search for..."
                                    aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn border bg-light rounded-0" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="" class="text-dark">
                            <div class="nav_head ms-auto">
                                <div class="container align-items-center mb-5">
                                    <div>
                                        <h5 class="fw-bold color-blue ">CATEGORIES</h5>
                                        <hr>
                                    </div>
                                    <ul class="navbar-nav mb-2 mb-lg-0 category-nav">
                        
                                        <li class="nav-item mb-1">
                                            <a class="navbar-brand ms-3" href="#">PCS</a>
                                        </li>
            
                                        <li class="nav-item mb-1">
                                            <a class="navbar-brand ms-3" href="#">HARDWARE</a>
                                        </li>
            
                                        <li class="nav-item mb-1">
                                            <a class="navbar-brand ms-3" href="#">SOFTWARE</a>
                                        </li>
            
                                        <li class="nav-item mb-1">
                                            <a class="navbar-brand ms-3" href="#">NETWORKING</a>
                                        </li>
            
                                        <li class="nav-item mb-1">
                                            <a class="navbar-brand ms-3" href="#">GAMING</a>
                                        </li>
                                    </ul>
                                </div>

                                <div>
                                    <h5 class="fw-bold color-blue ">MENU LINKS</h5>
                                    <hr>
                                </div>
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item mb-1">
                                        <a class="navbar-brand ms-3" href="#">Home</a>
                                    </li>
                                    <li class="nav-item mb-1">
                                        <a class="navbar-brand ms-3" href="#">Products</a>
                                    </li>
                                    <li class="nav-item mb-1">
                                        <a class="navbar-brand ms-3" href="#">Login</a>
                                    </li>
                                    <li class="nav-item mb-1">
                                        <a class="navbar-brand ms-3" href="#">Cart</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============= MODAL SECTION END ===========-->

        <!--========JavaScript=========-->

        <script>


            $(window).on("scroll", function() {
                var scrollTop = $(window).scrollTop();
                var screenWidth = window.innerWidth; 
            
                // Fix caTnaV when scrollTop is greater than 30px
                if (scrollTop > 30) {
                    $('#caTnaV').addClass('fixed-top mediumnavigation');
                } else {
                    $('#caTnaV').removeClass('fixed-top mediumnavigation');
                }
            
                // Handle nav-title: Fixed when caTnaV is hidden (small screen) and scroll > 30px
                if (screenWidth < 768 && scrollTop > 30) {
                    $('#nav-title').addClass('fixed-top mediumnavigation');
                } else {
                    $('#nav-title').removeClass('fixed-top mediumnavigation');
                }
            });
        </script>
		<script type="module" src="js/app.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <!--========JavaScript END===-->
    </body>
</html>