<div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        Categories
                    </div>
                    <div class="text-xs mb-0 text-gray-800">
                        <ul class="list-style-type-unstyled">
                            <li><a href="/admin/category/create" class="text-primary">Create Category</a></li>
                            <li><a href="/admin/collection/create" class="text-primary">Create Collection</a></li>
                            <li><a href="/admin/color/create" class="text-primary">Create Color</a></li>
                            <li><a href="/admin/size/create" class="text-primary">Create Size</a></li>
                            <li><a href="/admin/scurb/create" class="text-primary">Create Scurb</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-auto">
                    <i class="fa-solid fa-layer-group fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
</div>